
.section-left{
  //background: blue;
  //height: 120rem;
  width: 18rem;
  padding-top: 2rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.streamer-list{
  width: 100%;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin-top: 1.8rem;
  height: 100%;
}

.section-streamer-img {
  height: 4rem;
  width: 4rem;
}

.streamer-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  gap: 1rem;

}

.figure-out2{
  //width: 100%;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.figure-out2:hover{
  background-color: #f4f2f2;
}

.figure-out2-selected,
.figure-out2-selected:hover,
{
  background-color: #e6e6e6;
}


.streamer-name{
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.streamer-disc{
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  width: 16rem;
}

.ranking-box{
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  margin-top: 5.0rem;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 1.6rem;
  width: 90%;
}

.img-container {
  position: relative;
  cursor: pointer;
}

.heading{
  color: #333333;
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
}

.ul{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1.3rem;
  list-style: none; /* 去掉默认圆点 */
}


.ul li{
  padding-bottom: 1.2rem;
}
.ul li::before {
  display: inline-block;
  content: "■"; /* 实心方块 */
  /* 或者用 "□" 表示空心方块 */
  color: #afafaf; /* 可自定义颜色 */
  margin-right: 8px; /* 与文字间距 */
  font-size: 0.8rem;
}

.link:visited,
.link:link{
  display: inline-block;
  text-decoration: none;
  color: #333333;
}

.link:active,
.link:hover{

}

.section-left .ranking-box:nth-last-child(1){
  border: none;
}