
.main{
  //margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  gap:0;
  min-width: 90rem;
}

.main-left{
  width: 24rem;
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.main-right{
  width: 66rem;
  min-width: 25rem;
  //background: blue;
}


.main-box{
  min-width: 90rem;
}