.section-artist {
  background-color: #ffffff;
  //height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  //padding: 0 2.4rem;
  //
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  min-width: 83rem;
  width:83rem;
}

.figure-out {
  position: relative;
  //cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 12rem;
  //width: 25rem;
}

.container {
}

.song-time {
  align-self: center;
  font-size: 1rem;
  color: #878787;
}


.singer-name:link,
.singer-name:visited {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s;
  color: black;

  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  text-decoration: none;
}

.singer-name:hover,
.singer-name:active {
  text-decoration: underline;
}

.img-container {
  position: relative;
  //cursor: pointer;
}

.img-container::after {
  display: none;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  transform: translate(-5%, -25%);
  background-image: url("img/album/iconall.png");
  background-position: 0 -140px;
  opacity: 0;
  transition: all 0.1s;
}

.img-container:hover::after {
  display: none;
  width: 2.8rem;
  height: 2.8rem;
  //transform: translate(-50%, -50%);
  opacity: 1;
}

.section-img {
  height: 13rem;
  width: 13rem;
  transition: all 0.3s ease-out;
}


.left-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: -0.2rem;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}

.left-btn:hover .left-icon{
  color:#656565;
}

.left-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}

.right-btn:hover .right-icon{
  color:#656565;
}
.right-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}





.img-box-sub1 {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  row-gap: 3.4rem;
  column-gap: 3.8rem;
  transition: all 1s ease-out;
  //grid-auto-flow: column;
  margin-bottom: 2.4rem;
}

.img-box {
  display: flex;
  gap: 1.4rem;
  width: 100%;
  overflow: hidden;
  margin-top: 1.4rem;
  justify-content: center;
}

.more-icon{
  width: 1.2rem;
  height: 1.2rem;
  background: url("img/icon/index.png");
  background-position: 0 -24rem;
}

.more-btn {
  background-color: inherit;
  white-space: nowrap;
  border: none;
  padding: 0rem 0rem;
  font-size: 1.2rem;
  color: #666666;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.play-all-btn:hover {
  background-color: #ededed;
}
.second-links-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.play-icon{
  color: #999999;
  height: 3.2rem;
  width: 3.2rem;
}

.heading-link:link,
.heading-link:visited{
  display: inline-block;
  font-size: 2.5rem;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 1rem;

}

.heading-link:active,
.heading-link:hover{

}

.heading-sub-link:link,
.heading-sub-link:visited{
  display: inline-block;
  font-size: 1.3rem;
  color: #666666;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: -1rem;
}

.heading-sub-link:active,
.heading-sub-link:hover{

}
.second-link-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //gap: 1.2rem;
  height: 33px;
  width: 95%;
  padding: 0 0 0 0;
  margin-left: 10px;
  padding-bottom: 1rem;
  border-bottom: 2px solid #C10D0C;
  margin-top: 3rem;

}
.second-link-flexbox span{
  margin-bottom: -0.8rem;
}
.msk{
  position: absolute;
  width: 13.0rem;
  height: 13.0rem;
  top:0;
  left: 0;
}


.img-big-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
}

.link:visited,
.link:link{
  display:inline-block;
  width: 17px;
  height: 18px;
  margin-top: 2px;
  background: url("img/rankingpage/icon.png") no-repeat 0 9999px;
  background-position: 0 -740px;
  text-decoration: none;
}

.link:active,
.link:hover{
  text-decoration: underline;
}

.singer-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.atoz-box{
  display: flex;
  //gap: 1.2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 94%;
}

.hot-link:link,
.hot-link:visited{
  display: inline-block;
  text-decoration: none;
  color:#333;
}

.hot-link:hover,
.hot-link:active{
  text-decoration: underline;
}



.other:link,
.other:visited{
  color:#333;
}

.a-z:link,
.a-z:visited{
  color:#333;
  font-size: 1.5rem;
}

.hot:link,
.hot:visited{
  color: #fff;
  background: #c20c0c;
  border-radius: 2px;
  padding: 0.6rem 0.8rem;
}
