.section-radio {
  background-color: #fff;
  //height: 60rem;
  width: 99rem;
  //display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  //margin-top: 1.2rem;
  padding: 1.2rem 6.8rem;
  padding-top: 5.2rem;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;

}

.figure-out {
  overflow: hidden;
  display: flex;
  gap:1.2rem;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding-right: 3.2rem;
  padding-bottom: 2rem;
  margin-top: 1.2rem;
}

.container {
}


.singer-names {
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  color: #878787;
}

.song-time {
  align-self: center;
  font-size: 1rem;
  color: #878787;
}


.song-name:link,
.song-name:visited {
  display: inline-block;
  //margin-top: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  //width: 8rem;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  text-decoration: none;
  line-height: 1.6;

}

.song-name:active,
.song-name:hover {
  //white-space: nowrap; /* 禁止换行 */
  //overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  text-decoration: underline;
}

.img-container {
  overflow: hidden;
  position: relative;
  display: flex;
  gap:0.6rem;
  cursor: pointer;
  //width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 0;
}

.figure-out:hover{
  background-color: #eeeeee !important;
}

.section-new-cd-img {
  width: 12rem;
  height: 12rem;
  transition: all 0.3s ease-out;
}


.left-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.left-btn:hover .left-icon{
  color:#656565;
}

.left-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}

.right-btn:hover .right-icon{
  color:#656565;
}
.right-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}



.img-box-sub1 .figure-out:nth-child(1),
.img-box-sub1 .figure-out:nth-child(2){
  border-bottom: 1px solid #e7e7e7;
}




.img-box-sub1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.4rem;
  row-gap: 1.4rem;
  transition: all 1s ease-out;
  flex-direction: column;
  //width: 100%;
  //border-left: 1px solid #e2e2e2;
  //border-right: 1px solid #e2e2e2;
  //border-bottom:1px solid #e2e2e2;
}

.img-box {
  display: flex;
  gap: 1.4rem;
  overflow: hidden;
  //margin-top: 1.4rem;
}

.more-icon{
  width: 1.2rem;
  height: 1.2rem;
  background: url("img/icon/index.png");
  background-position: 0 -24rem;
}

.more-btn {
  background-color: inherit;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  color: #666666;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.play-all-btn:hover {
  background-color: #ededed;
}
.second-links-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.play-icon{
  height: 1.6rem;
  width: 1.7rem;
  background-position: 0 0;
  background: url("img/icon/iconall.png") no-repeat;
}
.play-icon:hover{
  background-position: 0 -60px;
}

.headset-icon{
  height: 1.1rem;
  width: 1.4rem;

  background: url("img/icon/iconall.png") no-repeat;
  background-position: 0 -24px;
}

.heading-link:link,
.heading-link:visited{
  display: inline-block;
  font-size: 2.5rem;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  //margin-right: 1.2rem;
}

.heading-link:active,
.heading-link:hover{

}

.second-link-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //gap: 25rem;
  height: 33px;
  //width: 90%;
  padding: 0 0px 10px 0px;
  border-bottom: 2px solid #C10D0C;
  background-color: #ffffff;
}


.msk{
  position: absolute;
  width: 12rem;
  height: 12rem;
  top:0;
  left: 0;
}



.play-box{
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:1rem;
  //background: url("img/icon/coverall.png");
  //background-position: 0 -537px;
  //height: 27px;
  //width: 100%;
  width: 25rem;
  color: #cccccc;
  padding: 0 0.5rem;
}

.play-box-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.second-link-inner-box{
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}
.second-link-inner-box span{
  font-size: 2.5rem;
  color: #333333;
}
.heading-sub-link:link,
.heading-sub-link:visited{
  display: inline-block;
  font-size: 1.2rem;
  color: #666666;
  cursor: pointer;
  text-decoration: none;
}

.heading-sub-link:active,
.heading-sub-link:hover{

}

.radio-icon{
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 15px;
  background: url("img/icon/icon.png") no-repeat 0 9999px;
  background-position: -31px -658px;
}



.title:link,
.title:visited {
  display: inline-block;
  //margin-top: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #999999;
  //width: 8rem;

  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  text-decoration: none;
  line-height: 1.6;
}

.title:active,
.title:hover {
  //white-space: nowrap; /* 禁止换行 */
  //overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  text-decoration: underline;
}


.radio:link,
.radio:visited {
  display: inline-block;
  //margin-top: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #999999;
  //width: 8rem;
  padding: 0.2rem 0.4rem;

  white-space: nowrap; /* 禁止换行 */
  //overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  text-decoration: none;
  //line-height: 1.6;
  border: 1px solid #999;
  //flex: 0;
}

.radio:active,
.radio:hover {
  //white-space: nowrap; /* 禁止换行 */
  //overflow: hidden; /* 隐藏溢出内容 */
  //text-overflow: ellipsis;
  //text-decoration: underline;
  color:#666;
  border: 1px solid #666;
}

.dot{
  padding: 0rem;
  font-size: 24px;
  font-weight: normal;
}
