.section-new-cd-all {
  background-color: #ffffff;
  //height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  //padding: 0 2.4rem;
  padding-top: 3.6rem;
  min-width: 98rem;
  width:98rem;
}

.figure-out {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 12rem;
  //width: 25rem;
}

.container {
}

.song-name {
}

.singer-names {
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  color: #878787;
}

.song-time {
  align-self: center;
  font-size: 1rem;
  color: #878787;
}


.song-name:link,
.song-name:visited {
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: black;

  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.song-name:active,
.song-name:hover {
  color: #31c27c;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:link,
.singer-name:visited {
  display: inline-block;
  margin-top: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: #878787;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:active,
.singer-name:hover {
  color: #31c27c;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.img-container {
  position: relative;
  cursor: pointer;
}

.img-container::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  transform: translate(-5%, -25%);
  background-image: url("img/album/iconall.png");
  background-position: 0 -140px;
  opacity: 0;
  transition: all 0.1s;
}

.img-container:hover::after {
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  //transform: translate(-50%, -50%);
  opacity: 1;
}

.section-new-cd-img {
  height: 13rem;
  width: 13rem;
  transition: all 0.3s ease-out;
}


.left-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: -0.2rem;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}

.left-btn:hover .left-icon{
  color:#656565;
}

.left-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}

.right-btn:hover .right-icon{
  color:#656565;
}
.right-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}





.img-box-sub1 {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(7,1fr);
  row-gap: 3.4rem;
  column-gap: 6.8rem;
  transition: all 1s ease-out;
  grid-auto-flow: column;
  margin-bottom: 2.4rem;
}

.img-box {
  display: flex;
  gap: 1.4rem;
  width: 100%;
  overflow: hidden;
  margin-top: 1.4rem;
  justify-content: center;
}

.more-icon{
  width: 1.2rem;
  height: 1.2rem;
  background: url("img/icon/index.png");
  background-position: 0 -24rem;
}

.more-btn {
  background-color: inherit;
  white-space: nowrap;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  color: #666666;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.play-all-btn:hover {
  background-color: #ededed;
}
.second-links-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.play-icon{
  color: #999999;
  height: 3.2rem;
  width: 3.2rem;
}

.heading-link:link,
.heading-link:visited{
  display: inline-block;
  font-size: 2.5rem;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 1rem;

}

.heading-link:active,
.heading-link:hover{

}

.heading-sub-link:link,
.heading-sub-link:visited{
  display: inline-block;
  font-size: 1.3rem;
  color: #666666;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: -1rem;
}

.heading-sub-link:active,
.heading-sub-link:hover{

}
.second-link-flexbox{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  height: 33px;
  width: 92%;
  padding: 0 10px 0 0;
  margin-left: 30px;
  padding-bottom: 1rem;
  border-bottom: 2px solid #C10D0C;

}
.second-link-flexbox span{
  margin-bottom: -0.8rem;
}
.msk{
  position: absolute;
  width: 15.3rem;
  height: 13.0rem;
  top:0;
  left: 0;
  background: url("img/album/coverall.png") no-repeat;
  background-position: 0 -845px;
}


.img-big-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
}