.section-recommend {
  background-color: #fafafa;
  //height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  margin-top: 1.2rem;
}

.figure-out {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  //width: 12rem;
  //width: 25rem;
}

.container {
}


.singer-names {
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  color: #878787;
}

.song-time {
  align-self: center;
  font-size: 1rem;
  color: #878787;
}


.song-name:link,
.song-name:visited {
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  width: 14rem;
  //white-space: nowrap; /* 禁止换行 */
  //overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  text-decoration: none;
  line-height: 1.6;

}

.song-name:active,
.song-name:hover {
  //white-space: nowrap; /* 禁止换行 */
  //overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  text-decoration: underline;
}


.img-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 14rem;
}


.section-new-cd-img {
  transition: all 0.3s ease-out;
}


.left-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.left-btn:hover .left-icon{
  color:#656565;
}

.left-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}

.right-btn:hover .right-icon{
  color:#656565;
}
.right-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}





.img-box-sub1 {
  display: grid;
  gap: 4.4rem;
  transition: all 1s ease-out;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

.img-box {
  display: flex;
  gap: 1.4rem;
  overflow: hidden;
  margin-top: 1.4rem;
}

.more-icon{
  width: 1.2rem;
  height: 1.2rem;
  background: url("img/icon/index.png");
  background-position: 0 -24rem;
}

.more-btn {
  background-color: inherit;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  color: #666666;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.play-all-btn:hover {
  background-color: #ededed;
}
.second-links-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.play-icon{
  height: 1.6rem;
  width: 1.7rem;
  background-position: 0 0;
  background: url("img/icon/iconall.png") no-repeat;
}
.play-icon:hover{
  background-position: 0 -60px;
}

.headset-icon{
  height: 1.1rem;
  width: 1.4rem;

  background: url("img/icon/iconall.png") no-repeat;
  background-position: 0 -24px;
}

.heading-link:link,
.heading-link:visited{
  display: inline-block;
  font-size: 2rem;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  //margin-right: 1.2rem;
}

.heading-link:active,
.heading-link:hover{

}

.second-link-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25rem;
  height: 33px;
  padding: 0 10px 0 34px;
  border-bottom: 2px solid #C10D0C;
  background: url("img/icon/index.png") no-repeat;
  background-position: -225px -156px;

}


.msk{
  position: absolute;
  width: 14rem;
  height: 14rem;
  top:0;
  left: 0;
}



.play-box{
  position: absolute;
  bottom: 0rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2.5rem;
  background: url("img/icon/coverall.png");
  background-position: 0 -537px;
  height: 27px;
  width: 100%;
  color: #cccccc;
  padding: 0 0.5rem;
}

.play-box-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.second-link-inner-box{
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.heading-sub-link:link,
.heading-sub-link:visited{
  display: inline-block;
  font-size: 1.2rem;
  color: #666666;
  cursor: pointer;
  text-decoration: none;
}

.heading-sub-link:active,
.heading-sub-link:hover{

}

.radio-icon{
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 15px;
  background: url("img/icon/icon.png") no-repeat 0 9999px;
  background-position: -31px -658px;
}