/*************************************************/
/*Header*/
/*************************************************/

.first-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  /*want to be sticky later*/
  //background-color: black;
  height: 7.4rem;
  padding: 0 4.8rem;
  position: relative;
  color: #cccccc;
  width: 100%;
}

.logo-img {
  margin-right: 1.2rem;
  width: 170px;
  height: 75px;
  background: url('img/logos/logo.png') no-repeat;
  background-position: left top;
  background-size: auto; /* 或根据原图调整 */
}
/*************************************************/
/*导航栏*/
/*************************************************/

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  min-width: 120rem;
}
.main-nav-li{
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  height: 7.4rem;
  gap: 0;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: flex;
  text-decoration: none;
  color: #cccccc;
  font-size: 1.4rem;
  transition: all 0.3s;
  align-self: center;
  height: 100%;
  padding: 0 1.8rem;
  justify-content: center;
  align-items: center;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: #000;
  color:#fff;
}

.main-nav-link.main-nav-link-selected{
  background-color: #000;
  color:#fff;
  align-self: stretch;
  height: auto;
  padding: 0 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-link-selected.main-nav-link:hover,
.main-nav-link-selected.main-nav-link:active {
  color: #fff;
}
/*为了优先级更高使用end选择器*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #cccccc;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}


.search-input{
  line-height: 2.4rem;
  height: 2.4rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  border: none;
  outline: none;
  width: 11.3rem;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #C9C9C9;
  //border-radius: 0.2rem;
  padding-left: 1.2rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-right: 1.2rem;
}
.search-input::placeholder{
  color: #C9C9C9;
  font-size: 1.2rem;
}
.search-input:focus::placeholder{
  color: #fff;
}

.search-btn{
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn-icon{
  color: #878787;
  height: 1.6rem;
  width: 1.6rem;
  &:hover{
    color:#31C27C;
  }
}

.login:link,
.login:visited{
  text-decoration:none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #787878;


}

.login:hover,
.login:active{
  color: #999999;
  text-decoration:underline;
}

.create-center:link,
.create-center:visited{
  text-decoration:none;
  border: 1px solid  #4f4f4f;
  background-color: inherit;
  color: #cccccc;
  padding: 0.7rem 1.6rem;
  border-radius: 1.6rem;
  font-size: 1.2rem;
  margin-right: 1.2rem;
}
.create-center:hover,
.create-center:active{
  border: 1px solid  #fff;
  color: #fff;
}

/*****************SECOND HEADER*********************/



.second-header{
  ///*second-header上方加一条分割线*/
  //border-top: 1px solid #eee;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c20c0c;
  width: 100%;
}
.second-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  gap: 5rem;
  margin-right: 6rem;
}

.second-nav-link:link,
.second-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  //font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
  padding: 0.4rem 1.2rem;
  border-radius: 1.2rem;
}

.second-nav-link:hover,
.second-nav-link:active {
  background-color: #9b0909;
}

.second-nav-link.second-nav-link-selected{
  background-color: #9b0909;
}

.second-nav-li-selected{
  position: relative;
}
.second-nav-li-selected::after{
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top:-1.4rem;
  border-left: 6px solid transparent; /* 左边框 */
  border-right: 6px solid transparent; /* 右边框 */
  border-bottom: 6px solid #c20c0c; /* 底边框，决定三角形颜色 */
  left:50%;
  transform: translate(-50%,0);
  background-color: transparent;
}
