

.play-bar-box{
  position: fixed;;
  width: 100%;
  bottom: 0rem;
  min-width: 50rem;

  transform: translateY(86%);

  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  height: 5.3rem;
  zoom: 1;
  background-position: 0 0;
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition:  all 0.3s;
}
.play-bar-box:hover{
  transform: translateY(0);
}

.play-bar-box-lock{
  transform: translateY(0);
}
.prev:link,
.prev:visited
{
  display: inline-block;
  width: 28px;
  height: 28px;

  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: 0 -130px;
}
.prev:active,
.prev:hover
{
  background-position: -30px -130px;
}

.play:link,
.play:visited
{
  display: inline-block;
  width: 36px;
  height: 36px;

  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: 0 -204px;
}
.play:active,
.play:hover
{
  background-position: -40px -204px;
}

.next:link,
.next:visited
{
  display: inline-block;
  width: 28px;
  height: 28px;

  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -80px -130px;
}
.next:active,
.next:hover
{
  background-position: -110px -130px;
}

.default-album{
  width: 34px;
  height: 34px;
}

.default-album-box{
  position: relative;
  margin-top: 0.5rem;
}
.msk{
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 34px;
  z-index: 9999;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: 0 -80px;
}


.play-box{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.red{
  position: absolute;
  bottom: -8px;
  left: -8px;
  width: 22px;
  height: 24px;
  background: url('img/playbar/iconall.png') no-repeat;
  background-position: 0 -280px;
}

.words{
  height: 15px;
  overflow: hidden;
}
.bar{
  width: 466px;
  height: 9px;
  background: url('img/playbar/statbar.png') no-repeat;
  background-position: right 0;
}

.play-time{
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  color: #797979;
}

.play-time em{
  font-style: normal;
  color:#8d8d8d;
}


.lyrics:link,
.lyrics:visited
{
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('img/playbar/lyrics.png') no-repeat 0 0;
}
.lyrics:active,
.lyrics:hover
{
  background-position-y: -25px;
}


.collect:link,
.collect:visited
{
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -88px -163px;
}
.collect:active,
.collect:hover
{
  background-position: -88px -189px;
}

.share:link,
.share:visited
{
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -114px -163px;
}
.share:active,
.share:hover
{
  background-position: -114px -189px;
}

.share-box{
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  margin-right: 1.2rem;
}

.volume-box{
  margin-top: 0.5rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}


.volume:link,
.volume:visited
{
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -2px -248px;
}
.volume:active,
.volume:hover
{
  background-position: -31px -248px;
}

.loop:link,
.loop:visited
{
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -3px -344px;
}
.loop:active,
.loop:hover
{
  background-position: -33px -344px;
}


.playlist:link,
.playlist:visited
{
  display: inline-block;
  width: 59px;
  text-decoration: none;
  line-height: 27px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -42px -68px;
  text-align: center;

  padding-left: 21px;
  color: #666666;
}
.playlist:active,
.playlist:hover
{
  background-position: -42px -98px;
}

.audio-quality:link,
.audio-quality:visited
{
  display: inline-block;
  width: 41px;
  height: 25px;
  background: url('img/playbar/audio-quality.png') no-repeat 0 0;
  background-size: 45px 30px;
  margin-bottom: 0.5rem;
}
.audio-quality:active,
.audio-quality:hover
{
  width: 41px;
  height: 25px;
  background: url('img/playbar/audio-quality-hover.png') no-repeat 0 0;
  background-size: 45px 30px;
}


.left{
  width: 52px;
  height: 67px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: 0 -380px;
}

.left-link:link,
.left-link:visited {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 6px 0 0 17px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -80px -380px;
}

.left-link:active,
.left-link:hover{
  background-position: -80px -400px;
}

.lock.left-link:link,
.lock.left-link:visited{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 6px 0 0 17px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -100px -380px;
}

.lock.left-link:active,
.lock.left-link:hover{
  background-position: -100px -400px;
}

.right{
  width: 15px;
  height: 54px;
  background: url('img/playbar/playbar.png') no-repeat 0 9999px;
  background-position: -100px -400px;
}


.play-btn-box{
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.left-right-box{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-30%,-10%);
}