

.top-box{
  position: fixed;;
  right: 50%;
  bottom: 5rem;
  transform: translateX(55rem);
  //background-color: red;
}


.top-link:link,
.top-link:visited
{
  display: none;
  height: 4.4rem;
  width: 4.9rem;

  background: url("img/top/top.png") no-repeat 0 9999px;
  background-position: -265px -47px;
}
.top-link:active,
.top-link:hover
{
  background-position: -325px -47px;
}

.show-top.top-link:link,
.show-top.top-link:visited{
  display: inline-block;
}