/*************************************************/
/*footer 区*/
/*************************************************/

.footer {
  padding: 5.8rem 0;
  background-color: #f2f2f2;
  color: #666666;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  gap:1rem;
}

.container-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  gap: 3.5rem;
  margin-bottom: 5rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;

}

.social-links2 {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -0.6rem;
}

.social-icon {
  height: 4rem;
  width: 4rem;
}

.copyright {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  color: #7f7f7f;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-icon{
  height: 2.4rem;
  width: 2.4rem;
  color: #7f7f7f;
}
.footer-link-icon:hover .footer-icon{
  color: #31C27C;
}
.footer-link-icon:link,
.footer-link-icon:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  color: #7f7f7f;
  gap: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  background: url("img/footer/footericon.png") no-repeat;
  background-size: 220px 220px;
}
.footer-link-icon:hover,
.footer-link-icon:active {
}

.footer-link-icon1:link,
.footer-link-icon1:visited{
  background-position: -170px -5px;
}
.footer-link-icon1:hover,
.footer-link-icon1:active {
  background-position: -5px -115px;
}

.footer-link-icon2:link,
.footer-link-icon2:visited{
  background-position: -5px -170px;
}
.footer-link-icon2:hover,
.footer-link-icon2:active {
  background-position: -60px -170px;
}

.footer-link-icon3:link,
.footer-link-icon3:visited{
  background: url("img/footer/xStudio.png") no-repeat;
  background-size: 45px;
}
.footer-link-icon3:hover,
.footer-link-icon3:active {
  background: url("img/footer/xStudioHover.png") no-repeat;
  background-size: 45px;
}

.footer-link-icon4:link,
.footer-link-icon4:visited{
  background-position: -60px -60px;
}
.footer-link-icon4:hover,
.footer-link-icon4:active {
  background-position: -115px -5px;
}

.footer-link-icon5:link,
.footer-link-icon5:visited{
  background: url("img/footer/aiLogo.png") no-repeat;
  background-size: 45px;
}
.footer-link-icon5:hover,
.footer-link-icon5:active {
  background: url("img/footer/aiLogoHover.png") no-repeat;
  background-size: 45px;
}

.footer-link-icon6:link,
.footer-link-icon6:visited{
  background: url("img/footer/cloudSong.png") no-repeat;
  background-size: 45px;
}
.footer-link-icon6:hover,
.footer-link-icon6:active {
  background: url("img/footer/cloudSongHover.png") no-repeat;
  background-size: 45px;
}

.footer-link-icon7:link,
.footer-link-icon7:visited{
  background-position: -170px -115px;
}
.footer-link-icon7:hover,
.footer-link-icon7:active {
  background-position: -60px -115px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 0.3s;

}

.footer-link:hover,
.footer-link:active {
  color: #31C27C;
}

.footer-link2:link,
.footer-link2:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link2:hover,
.footer-link2:active {
  text-decoration: underline;
}

.relate-link{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.footer-ul2{
  display: flex;
  gap: 0.5rem;
  list-style: none;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}

.footer-ul3{
  display: flex;
  gap: 0.5rem;
  list-style: none;
  font-size: 0.8rem;
}

.li-two-col{
  grid-column: 1/3 ;
}

.right-nav{
  margin-left: 3rem;
}

.footer-span{
  display: block;
  margin-top: 1.2rem;
  color: #797979;
}

.social-links li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.police-icon{
  display: block;
  background: url("img/footer/police.png") no-repeat;
  background-size: cover;
  height: 1.4rem;
  width: 1.4rem;
}

.footer-box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer p{
  font-size: 1.2rem;
}


.footer-link3:link,
.footer-link3:visited {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  gap: 2px; /* 可选：图标和文字之间的间距 */
  text-decoration: none;
  font-size: 1.2rem;
  vertical-align: middle;
  color: #767676;
  transition: all 0.3s;
}

.footer-link3:hover,
.footer-link3:active {
  text-decoration: underline;
}