.section-icon {
  background-color: #ffffff;
  //height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  padding: 0 2.4rem;
  //padding-top: 3.6rem;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;

}

.figure-out {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  //width: 12rem;
  //width: 25rem;
}

.container {
}

.song-name {
}

.singer-names {
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  color: #878787;
}

.song-time {
  align-self: center;
  font-size: 1rem;
  color: #878787;
}

.title-name em{
  color: #888888;
  font-style: normal;
  font-size: 1.2rem;
}

.title-name-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background: #9b0909;
  padding: 1rem 0.5rem ;
  border-radius: 0.3rem;
}
.title-name:hover .title-name-box{
  background-color: #f6f7f7;
}

.title-name:hover .title-name-box .img-container .img-icon{
  object-position: 0 50%;
}

.title-name:link,
.title-name:visited {
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: #888888;
  width: 7rem;

  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.title-name:active,
.title-name:hover {

}

.singer-name:link,
.singer-name:visited {
  display: inline-block;
  margin-top: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: #878787;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:active,
.singer-name:hover {
  color: #31c27c;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}


.img-icon {
  width: 4.8rem;       /* 固定容器宽 */
  height: 4.8rem;      /* 固定容器高 */
  object-fit: cover;     /* 保持比例并裁剪 */
  object-position: 0 0;/* 控制裁剪位置（可设为 50% 50%、left
    transition: all 0.3s ease-out;
}

.img-container{
  width: 4.8rem;       /* 固定容器宽 */
  height: 4.8rem;      /* 固定容器高 */
  overflow: hidden;   /* 隐藏超出部分 */
}

.left-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: -0.2rem;
  transform: translate(50%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}

.disable.right-icon {
  color:#ebebeb;
}

.disable.left-icon {
  color:#ebebeb;
}

.right-btn:hover .disable.right-icon{
  color:#ebebeb;
}

.left-btn:hover .disable.left-icon{
  color:#ebebeb;
}

.left-btn:hover .left-icon{
  color:#999999;
}

.left-icon {
  width: 3.6rem;
  height: 3.6rem;
  color: #bfbfbf;
}

.right-btn:hover .right-icon{
  color:#999999;
}
.right-icon {
  width: 3.6rem;
  height: 3.6rem;
  color: #bfbfbf;
}

.img-box-sub1 {
  display: grid;
  row-gap: 1.4rem;
  column-gap: 3.6rem;
  grid-template-rows: 1fr 1fr;
  //transition: all 0.2s ease-out;
  transform: translate(0,0);
  grid-auto-flow: column;
}

.img-box {
  display: flex;
  gap: 1.4rem;
  width: 79rem;
  overflow: hidden;
  margin-top: 1.4rem;
}

.more-icon{
  width: 1.2rem;
  height: 1.2rem;
  background: url("img/icon/index.png");
  background-position: 0 -24rem;
}

.more-btn {
  background-color: inherit;
  white-space: nowrap;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  color: #666666;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.play-all-btn:hover {
  background-color: #ededed;
}
.second-links-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.play-icon{
  color: #999999;
  height: 3.2rem;
  width: 3.2rem;
}

.heading-link:link,
.heading-link:visited{
  display: inline-block;
  font-size: 2rem;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap
}

.heading-link:active,
.heading-link:hover{

}

.second-link-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50rem;
  height: 33px;
  padding: 0 10px 0 34px;
  border-bottom: 2px solid #C10D0C;
  background: url("img/icon/index.png") no-repeat;
  background-position: -225px -156px;
}


.msk{
  position: absolute;
  width: 11.8rem;
  height: 10.0rem;
  top:0;
  left: 0;
  background: url("img/icon/coverall.png") no-repeat;
  background-position: 0 -570px;
}


.img-big-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding-left: 1.6rem;
  padding-right: 0rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  //border: 1px solid #d3d3d3;
}