
.main{
  //margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  gap:0;
  min-width: 730px;
}

.main-left{
  width: 72.8rem;
  border: 1px solid #d3d3d3;
}

.main-right{
  width: 25rem;
  min-width: 25rem;
  //background: blue;
}


.main-box{
  min-width: 730px;
}