.section-ranking {
  background-color: #fafafa;
  //height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  //padding: 0 2.4rem;
  padding-top: 3.6rem;
  padding-right: 2.8rem;
  padding-left: 2.8rem;
}

.figure-out {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 12rem;
  //width: 25rem;
}

.container {
}

.song-name {
}

.singer-names {
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  color: #878787;
}

.song-time {
  align-self: center;
  font-size: 1rem;
  color: #878787;
}


.song-name:link,
.song-name:visited {
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: black;

  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.song-name:active,
.song-name:hover {
  color: #31c27c;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:link,
.singer-name:visited {
  display: inline-block;
  margin-top: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: #878787;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.singer-name:active,
.singer-name:hover {
  color: #31c27c;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.img-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.img-container::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  transform: translate(-100%, -20%);
  background-image: url("img/icon/iconall.png");
  background-position: 0 -85px;
  opacity: 0;
  transition: all 0.1s;
}

.img-container:hover::after {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  //transform: translate(-50%, -50%);
  opacity: 1;
}

.section-new-cd-img {
  height: 10rem;
  transition: all 0.3s ease-out;
}

.img-container:hover .section-new-cd-img {
  transform: scale(1.1);
}

.left-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.right-btn {
  border: none;
  background-color: inherit;
  //padding: 3rem 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.left-btn:hover .left-icon{
  color:#656565;
}

.left-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}

.right-btn:hover .right-icon{
  color:#656565;
}
.right-icon {
  width: 4.2rem;
  height: 4.2rem;
  color: #898989;
}





.img-box-sub1 {
  display: flex;
  gap: 1.4rem;
  transition: all 1s ease-out;
  transform: translate(-820px,0);
}

.img-box {
  display: flex;
  gap: 1.4rem;
  width: 79rem;
  overflow: hidden;
  margin-top: 1.4rem;
}

.more-icon{
  width: 1.2rem;
  height: 1.2rem;
  background: url("img/icon/index.png");
  background-position: 0 -24rem;
}

.more-btn {
  background-color: inherit;
  white-space: nowrap;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  color: #666666;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.play-all-btn:hover {
  background-color: #ededed;
}
.second-links-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.play-icon{
  color: #999999;
  height: 3.2rem;
  width: 3.2rem;
}



.second-link-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50rem;
  height: 33px;
  padding: 0 10px 0 34px;
  border-bottom: 2px solid #C10D0C;
  background: url("img/icon/index.png") no-repeat;
  background-position: -225px -156px;
}





.dl{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dt{
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #f4f4f4;
  padding: 1.2rem;
}

.dt-line{
  width: 23rem;
}

.dt-img{
  width: 8rem;
  height: 8rem;
}

.msk{
  position: absolute;
  width: 8rem;
  height: 8rem;
  top:0;
  left: 0;
}

.dt-box{

}

.dt-heading:link,
.dt-heading:visited{
  display: block;
  font-size: 2rem;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap
}

.dt-heading:active,
.dt-heading:hover{
}


.dt-play:link,
.dt-play:visited{
  margin-top: 1rem;
  margin-right: 1.2rem;
  display: inline-block;
  font-size: 2rem;
  width: 2.2rem;
  height: 2.2rem;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  background: url('img/ranking/index.png') no-repeat 0 9999px;
  background-position: -267px -205px;
}

.dt-play:active,
.dt-play:hover{
  background-position: -267px -235px;
}

.dt-add:link,
.dt-add:visited{
  display: inline-block;
  font-size: 2rem;
  width: 2.2rem;
  height: 2.2rem;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  background: url('img/ranking/index.png') no-repeat 0 9999px;
  background-position: -300px -205px;
}

.dt-add:active,
.dt-add:hover{
  background-position: -300px -235px;
}

.dd{
  padding: 0.5rem 1.2rem;
  width: 23rem;
}

.dt-line dd:nth-child(odd) {
  background-color: #f4f4f4;
}

.dt-line dd:nth-child(even) {
  background-color: #e8e8e8;
}

.song-span{
  color: #666666;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.2rem;
}

.first-span{
  color: #c10d0c;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem;
}

.second-span{
  color: #c10d0c;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem;
}
.third-span{
  color: #c10d0c;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem;
}

.song-link:link,
.song-link:visited{
  display: inline-block;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  width: 15rem;
  height: 2rem;
  text-decoration: none;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
}

.song-link:active,
.song-link:hover{
  text-decoration: underline;
}

.song-link:active .first-span,
.song-link:active .first-span{
  text-decoration: none !important;
}


.check-more-link:link,
.check-more-link:visited{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  width: 15rem;
  height: 2rem;
  text-decoration: none;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis;
  margin-left: 14rem;
}

.check-more-link:active,
.check-more-link:hover{
}