
.djradio{
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
}

.djradio-box{
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 3rem;
  background-color: #fff;
  width: 99rem;
}